body {
	font-family: 'Barlow', sans-serif !important;
  color: #ffffff;
  background-image: url("contact-bg-1024x535.jpg");
  background-color: #000000;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}

ul {
  list-style-type: none;
}

.wrapper {
	width: 100%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 40%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: auto;
    display: block;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .accordion::after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

  .active::after {
    content: "\2212";
  }

  .panel {
    padding: 0px, 18px;
    max-height: 0;
    width: 40%;
    margin: auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.current {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    justify-content: left;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}

.label {
	width: 200px;
	float: left;
}

.textarea {
	width: 20em;
	background: #3d3d3d;
	color: #ffffff !important;
	font-weight: 300;
	font-style: italic;
	font-size: 17px;
	padding: 14px;
	margin: 10px 0 10px;
	border-radius: 0;
	border: none;
    font-family: 'Barlow', sans-serif !important;
}

#cost {
  pointer-events: none;
}

.img-info {
 width: 14px;
 height: 14px;
 color: #ffffff;
 border-right: 40px;

 /* margin-left: 50%; */
}

.tooltip-text {
	position: absolute;
	display: block;
  width: auto;
  max-width: 25%;
	height: auto;
	background-color: #000000;
	color: #ffffff;
	padding: 5px;
    border-radius: 5px;
    margin: auto;
	z-index: 2;
	opacity: 0;
  transition: opacity 0.5s;
}

#C1-tt, /*.tooltip-text*/
#C3-tt,
#C4-tt,
#C5-tt,
#C6-tt,
#C8-tt,
#C9-tt {
	visibility: hidden;
}

#C1-ttc:hover + #C1-tt,
#C3-ttc:hover + #C3-tt,
#C4-ttc:hover + #C4-tt,
#C5-ttc:hover + #C5-tt,
#C6-ttc:hover + #C6-tt,
#C8-ttc:hover + #C8-tt,
#C9-ttc:hover + #C9-tt,
#reset-ttc:hover + #reset-tt {
  visibility: visible;
	opacity: 1;
	z-index: 1;
}

.button {
    text-align: center;
    width: 10em;
    margin-top: 1%;
}